<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citycup.mapper.FundamentalsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citycup.entity.Fundamentals">
        <result column="symbol" property="symbol" />
        <result column="equity" property="equity" />
        <result column="netProfit" property="netprofit" />
        <result column="income" property="income" />
        <result column="ying" property="ying" />
        <result column="jing" property="jing" />
        <result column="xiao" property="xiao" />
        <result column="xian" property="xian" />
        <result column="retu" property="retu" />
        <result column="yield" property="yield" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        symbol, equity, netProfit, income, ying, jing, xiao, xian, retu, yield
    </sql>

</mapper>
